@model NewsAPI4Client.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group"> *@
            @*     <label asp-for="ID" class="control-label"></label> *@
            @*     <input asp-for="ID" class="form-control" /> *@
            @*     <span asp-validation-for="ID" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="tieu_de" class="control-label"></label>
                <input asp-for="tieu_de" class="form-control" />
                <span asp-validation-for="tieu_de" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tom_tat" class="control-label"></label>
                <input asp-for="tom_tat" class="form-control" />
                <span asp-validation-for="tom_tat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noi_dung" class="control-label"></label>
                <input asp-for="noi_dung" class="form-control" />
                <span asp-validation-for="noi_dung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time_tao" class="control-label"></label>
                <input asp-for="time_tao" class="form-control" />
                <span asp-validation-for="time_tao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberRead" class="control-label"></label>
                <input asp-for="numberRead" class="form-control" />
                <span asp-validation-for="numberRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <input asp-for="CategoryID" class="form-control" />
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersID" class="control-label"></label>
                <input asp-for="UsersID" class="form-control" />
                <span asp-validation-for="UsersID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
